@font-face {
  font-family: 'Cinzel';
  src: url('../../assets/fonts/cinzel-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel';
  src: url('../../assets/fonts/cinzel-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.svg-wrapper {
  position: relative;
  text-transform: uppercase;
  width: 320px;  
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #000;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Cinzel', serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 8px;
  color: #000;
  top: -44px;
  position: relative;
  pointer-events: none;
}
.shape:hover {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}