// Colors
$purple: #6477b9;
$red: #f45e61;

.btn-b07 {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em;
  width: 150px;
  height: 75px;
  font-size: 20px;
  box-shadow: inset 0 0 0 4px $red;
  color: $red;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  transition: color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $purple;
  }

  &::before,
  &::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
  }

  &::before {
    border-top: 4px solid $purple;
    border-bottom: 4px solid $purple;
    transform: scale3d(0, 1, 1);
  }

  &::after {
    border-left: 4px solid $purple;
    border-right: 4px solid $purple;
    transform: scale3d(1, 0, 1);
  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
  }
}