.btn {
  transform: translate(0%, 0%);
  text-transform: uppercase;
  text-align: center;
  background: #000;
  color: #ff0;
  font-size: 20px;
  font-family: verdana;
  letter-spacing: 4px;

  /* use combination of any two */
  /* 1. */
  /* padding: 5px; */

  /* 2. */
  padding-left: 5px;
  /* padding-right: 5px; */
}

.btn::before,
.btn::after,
span::before,
span::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: transparent;
  transition: 1s;
  /* -webkit-mix-blend-mode: hue; */
}

.btn::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid #ff0;
  border-left: 2px solid #ff0;
}
.btn::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid #ff0;
  border-right: 2px solid #ff0;
}

span::before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid #ff0;
  border-left: 2px solid #ff0;
}
span::after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid #ff0;
  border-right: 2px solid #ff0;
}

.btn:hover::before,
.btn:hover::after,
.btn:hover span::before,
.btn:hover span::after {
  width: calc(180px / 2);
  height: calc(50px / 2);
}
