.block {
  position: relative;
  width: 150px;
  height: 50px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.block:before, .block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000, #fb0094);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s ease-in-out infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}